@model webapp.Models.Estudiante

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"
            aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title" id="myModalLabel">Estudiante - ID @Model.Identificacion</h4>
</div>
<div class="modal-body">
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TipoIdentificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoIdentificacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Apellidos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apellidos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaNacimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaNacimiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Activo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Activo)
        </dd>

    </dl>
</div>
<div class="modal-footer">

    @Ajax.ActionLink("Edit", "EditAjax", new { id = Model.Identificacion }, new AjaxOptions
                {
                       HttpMethod = "GET",
                       InsertionMode = InsertionMode.Replace,
                       UpdateTargetId = "detalle-cliente",
                       AllowCache = false
                   }, new { @class = "btn btn-primary" })
    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>

</div>
